@charset "utf-8";
body {
	font-family: "微软雅黑";
	max-width: 640px;
	margin:0 auto;
	position: relative;
	background: #d4d4d4;
}
a:link,a:visited{text-decoration:none;}
a:hover{
	text-decoration:none;
}

i {
	font-style: normal;
}

.nav {
	display: -webkit-box;
	height: 6rem;
	background-color: #ff6411;
}

ul,
ol,
li {
	list-style: none;
	padding:0;
}

.nav ul {
	width: 99%;
	max-width: 640px;
}

.nav ul li {
	float: left;
	position: relative;
	width: 25%;
}

.nav li>a {
	position: relative;
	padding-top: 1rem;
}

.nav li a {
	display: block;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	white-space: nowrap;
	z-index: 100;
}

a.col-xs-3 {
	padding: 0;
	width: 100%;
	text-align: center;
	height: 5rem;
	max-width: 640px;
}

.container-fluid {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: auto;
	min-height: 75em;
	background: #d4d4d4;
	max-width: 640px;
}

.bg-d4 {
	background-color: #d4d4d4;
}

.topbar-search {
	font-size: 0.5rem;
}

.topbar-search-text {
	padding-left: 3rem !important;
	background: url(../img/search.jpg) no-repeat;
	background-size: 2rem;
	background-position-x: 0.5rem;
	background-position-y: 0.7rem;
}

.topbar-search .search {
	vertical-align: middle;
	width: 100%;
	padding: 0.5rem 0 0.5rem 1.2rem;
	max-width: 640px;
}

.pull-left {
	float: left;
}

.topbar-search .search>input[type*="text"] {
	border: 1px solid #c9c9c9;
	text-align: left;
	width: 75%;
	padding: 0;
}

.topbar-search .search>input {
	vertical-align: middle;
	height: 3rem;
	border-radius: 0.5rem;
}

.topbar-search .search .searchbtn {
	width: 4rem;
	border: 0;
	text-align: center;
	color: #000;
	background-color: #d4d4d4;
	font-size: 1.5rem;
}

dl.panel {
	font-size: 1.2rem;
	background: #d4d4d4;
	border:none;
}

dd.panel-body-02 {
	padding: 0.35rem 0.375rem 0;
	position: relative;
	background: #fff;
	margin-bottom: 1rem;
}

dd.panel-body-02>.list-box {
	color: #ababab;
	display: -moz-box;
	display: -webkit-box;
	display: box;
	padding: 0.35rem 0.1rem 0;
}
dd.panel-body-02>.list-box div.img{
	width: 22%;
}
dd.panel-body-02>.list-box div img {
	height: 100%;
	width: 100%;
	margin-top: 1rem;
	max-width: 640px;
}

dd.panel-body-02>.list-box>span.text {
	width: 13.997rem;
	margin: 0 0 0 0.248rem;
	box-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	display: block;
}
dd.panel-body-02>.list-box>span.text.title{
	margin-top: 1rem;
}
[class*="title"] {
	font-size: 1.5rem;
}

p {
	margin: 0 0 5px;
}

.text-black {
	color: #000;
}

.text-orange {
	color: #e27c04;
}

dd.panel-body-02>.list-box>span.text>.price {
	line-height: 0.76rem;
}

dd.panel-body-02>.list-box>span.text>.price input.button {
	background: #fff;
	color: #f76300;
	border-radius: 0.48rem;
	padding: 3px 8px;
	height: auto;
	margin-top: 0.2rem;
	border: 1px solid #f76300;
}

.exp-img {
	width: 100%;
	max-width: 640px;
}

.exp-img img {
	width: 23%;
	height: 2%;
	padding: 0.5rem;
}