@charset "utf-8";
body{
	width: 100%;
	max-width: 640px;
	background: #f1edec;
	margin: auto;
}
ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}
.introduce{
	background: #28A4C9;
}
.introduce-title{
	text-align: center;
	color: #fff;
	font-size: 1.8rem;
	font-weight: 600;
}
.introduce-small{
	font-size: 1.4rem;
	color: #fff;
	text-indent: 2rem;
}
.introduce-add{
	font-size: 1.4rem;
	color: #ff6411;
	margin-top: 1rem;
	text-indent: 2rem;
	margin-bottom: 0;
}
.container-fluid{
	padding: 0;
	margin: 0 auto;
	width: 100%;
	min-height: 49em;
	height: auto;
	background: #f1edec;
}
dl.panel{
	margin-bottom: 10px;
	font-size: 0.3rem;
	border: none;
	box-shadow: none;
}
dd.panel-body{
	position: relative;
	padding: 0.25rem 0.4rem;
}
.appointment-details-cont{
	font-size: 1.375rem;
}
.tc-title-jc{
	font-size: 1.8rem;
	font-weight: bold;
	color: #363636;
	padding-top: 0.4rem;
	margin-bottom: 0;
	text-align: center;
}
.tc-cont-left{
	width: 50%;
	float: left;
	font-size: 1.7rem;
	height: 4rem;
	line-height: 4rem;
	text-align: center;
	background: #e1e1e1;
	margin-top: 1rem;
}
.tc-cont-right{
	width: 50%;
	float: left;
	font-size: 1.7rem;
	color: #626262;
	height: 4rem;
	line-height: 4rem;
	background: #e1e1e1;
	text-align: center;
	margin-top: 1rem;
}
.tc-active{
	border-top: 2px solid #fc6810;
	color: #fc6810;
	background: #fff;
}
.tjxm-tab-jc,.tjxm-tab{
	width: 100%;
	margin: 0 auto;
	height: 2rem;
	line-height: 2rem;
	padding: 0;
}
.details-tab{
	background: #f1edec;
	border-bottom: 1px solid #dcdcdc;
	font-size: 0.4rem;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}
.tjxm-tab-jc .tab-title:nth-child(1){
	width: 2rem;
	text-align: center;
	padding-left: 0.15rem;
}
.tab-title{
	font-size: 1.4rem;
	font-weight: bold;
}
.tab-box-bottom{
	-webkit-box-flex: 1;
}
.tjxm-tab-jc .tab-title:nth-child(2){
	width: 1.6rem;
	text-align: center;
}
.tjxm-tab-jc .tab-title:nth-child(3){
	text-align: center;
}
.tjxm-tab-jc .tab-title:nth-child(4){
	text-align: center;
}
.details-list{
	width: 100%;
	color: #363636;
}
.radio-box{
	margin-left: 0.1rem;
	margin-right: 0.1rem;
	font-size: 1.25rem;
}
.bg-white{
	background: #fff;
}
.details-text-box{
	display: -webkit-box;
	padding: 6px 0 5px 0;
	-webkit-box-align: center;
}
.title-asd{
	width: 5rem;
	font-size: 1.35rem;
	display: inline-block;
	padding-left: 8px;
	padding-right: 0.1rem;
	line-height: 2;
	text-align: center;
}
.text-center{
	text-align: center;
}
.text-grey-b{
	color: #999;
	width: 100%;
	padding: 8px 0 8px 8px;
	text-align: center;
}
.gray-bg{
	background-color: #fefbf6;
}
.bg-f1{
	background: #f1edec;
}
.tjxm-show{
	display: block;
}
.tjxm-hide{
	display: none;
}
.container-fluid img{
	width: 100%;
	height: 13rem;
	margin: 2rem 0 2rem 0;
}
.container-fluid input[type='button']{
	background: #fd632f;
	color: #fff;
}
.zxtc-title{
	color: #fd632f;
	letter-spacing: 0.1rem;
}
.zxtc-cont{
	padding-top: 1rem;
}
.zxtc-cont-title{
	color: #000;
	font-size: 1.5rem;
	width: 10rem;
	font-weight: bold;
	background: #bfbfbf;
	text-align: center;
}
input[type='checkbox']{
	margin-top: -5px;
	margin: -0.35rem 0 0;
	line-height: normal;
	box-sizing: border-box;
	padding: 0;
}
.radio-white{
	width: 1.4rem;
	height: 1.4rem;
	display: inline-block;
	vertical-align: middle;
}
.tjxm-tab .tab-title:nth-child(1){
	width: 0.4rem;
	text-align: center;
}
.tjxm-tab .tab-title:nth-child(2){
	width: 4rem;
	text-align: center;
}
.tjxm-tab .tab-title:nth-child(3){
	width: 1.6rem;
	text-align: center;
}
.tjxm-tab .tab-title:nth-child(4){
	text-align: center;
}
.p-silde .details-text-box{
	position: relative;
}
.p-silde .details-text-box .title-asd{
	width: auto;
}
.zlntc{
	display: block;
}
.xxgtc{
	display: none;
}
.container-fluid .package{
	width: 100%;
	max-width: 640px;
	background: #f1edec;
	margin: 1.5rem 0;
}
.container-fluid .package p{
	color: #363636;
}
.container-fluid .package ul,.package li{
	float: left;
}
.container-fluid .package ul{
	width: 99%;
	margin: 1rem 0;
}
.container-fluid .package ul li{
	width: 33%;
	text-align: center;
}
.container-fluid .package ul li span{
	color: #fd632f;
}
.container-fluid .package-else{
	text-align: center;
}
.container-fluid .package-else span{
	color: #fd632f;
}
footer {
	padding-top: 2.7rem;
}

footer img {
	width: 100%;
	height: 10rem;
}




